<section class="back pt-5">

    <div class="container">

        <div class="row pt-5" *ngIf="error_message">

            <div class="alert alert-danger py-0">
                <p class="mb-0"> {{ error_message }} </p>
            </div>

        </div>

        <div class="row pt-5 justify-content-center">

            <div class="col-md-7">

                <form [formGroup]="editMovieForm" (ngSubmit)="onEditMovie(editMovieForm)">

                    <div class="mb-3">

                        <div class="form-floating">
                            <input type="text" class="form-control input_style" formControlName="name" [ngClass]="[
                            editMovieForm.get('name')?.errors != null &&
                            editMovieForm.get('name')?.touched ? 'is-invalid':''  ,
                            editMovieForm.get('name')?.errors == null &&
                            editMovieForm.get('name')?.touched ? 'is-valid':'']">
                            <label class="second" for="floatingInput">name</label>
                        </div>

                        <div class="invalid-feedback" *ngIf="
                        editMovieForm.get('name')?.errors != null &&
                        editMovieForm.get('name')?.touched &&
                        editMovieForm.get('name')?.errors?.['required']">
                            name is required.
                        </div>

                    </div>

                    <div class="mb-3">

                        <div class="form-floating">
                            <input type="text" class="form-control input_style" formControlName="description" [ngClass]="[
                            editMovieForm.get('description')?.errors != null &&
                            editMovieForm.get('description')?.touched ? 'is-invalid':''  ,
                            editMovieForm.get('description')?.errors == null &&
                            editMovieForm.get('description')?.touched ? 'is-valid':'']">
                            <label class="second" for="floatingInput">description</label>
                        </div>

                        <div class="invalid-feedback" *ngIf="
                        editMovieForm.get('description')?.errors != null &&
                        editMovieForm.get('description')?.touched &&
                        editMovieForm.get('description')?.errors?.['required']">
                            description is required.
                        </div>

                    </div>

                    <div class="mt-4 mb-4">

                        <input (change)="handleFileInput($event)" type="file" class="form-control input_style"
                            formControlName="image" [ngClass]="[
                        editMovieForm.get('image')?.errors != null &&
                        editMovieForm.get('image')?.touched ? 'is-invalid':''  ,
                        editMovieForm.get('image')?.errors == null &&
                        editMovieForm.get('image')?.touched ? 'is-valid':'']">

                        <div class="invalid-feedback" *ngIf="
                        editMovieForm.get('image')?.errors != null &&
                        editMovieForm.get('image')?.touched && 
                        editMovieForm.get('image')?.errors?.['required']">
                            Image is required.
                        </div>

                    </div>

                    <div class="mb-3">

                        <select class="input_style form-select" formControlName="category_id" [ngClass]="[
                            editMovieForm.get('category_id')?.errors != null &&
                            editMovieForm.get('category_id')?.touched ? 'is-invalid':''  ,
                            editMovieForm.get('category_id')?.errors == null  &&
                            editMovieForm.get('category_id')?.touched ? 'is-valid':'']">
                            <option disabled value="null"> select Category </option>

                            <option *ngFor="let cat of categories" [value]="cat.id"> {{cat?.name}} </option>

                        </select>

                        <div class="invalid-feedback" *ngIf="
                        editMovieForm.get('category_id')?.errors != null &&
                        editMovieForm.get('category_id')?.touched &&
                        editMovieForm.get('category_id')?.errors?.['required']">
                            select Category is required.
                        </div>

                    </div>

                    <div class="s_btn mb-5 mt-5">
                        <button type="submit" class="btn fw-bold p-3 w-100" [disabled]="editMovieForm.invalid">
                            Edit Movie
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>